@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cagliostro&family=Croissant+One&family=Emilys+Candy&family=Kaisei+Decol&family=Outfit:wght@100..900&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cagliostro&family=Croissant+One&family=Emilys+Candy&family=Kaisei+Decol&family=Lexend+Zetta:wght@100..900&family=Outfit:wght@100..900&family=Yellowtail&display=swap');

:root {
    --font-p:"Cagliostro", sans-serif;
    --font-h1:"Lexend Zetta", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}
h1{
    font-family: var(--font-h1);
    font-size: 22px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.826);
}
p {
    font-family: "Cagliostro", sans-serif;
}

.imagem-topo {
    display: block;
    justify-content: space-between;
    align-items: center;
    background: url(imagens/GEOVANAPERSONALIZAÇÃO.png) no-repeat center/cover;
    height: 220px;
    border-bottom: solid 5px #89d3c2;
}

.logo {
    position: absolute;
    top: 160px;
    left: 0.5em;

    background: url(imagens/logo.jpeg) no-repeat center/cover;
    height: 7em;
    width: 7em;
    border-radius: 50%;

    border: white 3px solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.612);
}

.btn {
    display: none;
}

.h1 h1 {
    background-color: #89d3c2;
    color: yellow;
    margin:3.5em 0 0 -5px;
    padding: 10px;
}

.box {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #89d3c2;

    height: 20em;

    text-align: center;
}

.item {
    min-width:40vw;
    margin: 10px;
}
.imagem {
    background-color: white;
    height: 20.5vh;
}

.info p {
    font-weight: bold;
    padding: 2PX;
    margin: 0;
}
.info{
    background-color: blue;
    display: block;
    text-align: left;

    color: white;
    padding: 5px;
}