@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cagliostro&family=Croissant+One&family=Emilys+Candy&family=Itim&family=Kaisei+Decol&family=Lexend+Zetta:wght@100..900&family=Outfit:wght@100..900&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cagliostro&family=Croissant+One&family=Emilys+Candy&family=Kaisei+Decol&family=Lexend+Zetta:wght@100..900&family=Outfit:wght@100..900&family=Yellowtail&display=swap');

:root {
    --font-p:"Itim", sans-serif;
    --font-h1:"Lexend Zetta", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(40, 28, 44), rgba(40, 28, 44, 0.809)), url(imagens/Caneca-fundo.jpg) repeat;
    background-size: 40px 40px;
    

}
h1{
    font-family: var(--font-h1);
    font-size: 22px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.826);
}
p {
    font-family: "Cagliostro", sans-serif;
}

.imagem-topo {
    display: block;
    justify-content: space-between;
    align-items: center;
    background: url(imagens/GEOVANAPERSONALIZAÇÃO.png) no-repeat center/cover;
    height: 220px;
    border-bottom: solid 5px #89d3c2;
}

.logo {
    position: absolute;
    top: 160px;
    left: 0.5em;

    background: url(imagens/logo.jpeg) no-repeat center/cover;
    height: 7em;
    width: 7em;
    border-radius: 50%;

    border:  white 3.5px solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.612);
}

.btn {
    display: block;
    justify-content: center;
    align-items: center;

    margin:3em 0 0 13em;
}
.btn h1 {
    background-image: linear-gradient(to left, yellow, orange); 

    width: 35vw;
    font-size: 16px;
    text-align: center;
    text-shadow: black 0 0 10px;
    color: rgb(255, 255, 255);
    padding: 10px;

    border-radius: 10px;
}
.btn h1:hover {
    border: solid 3px #89d3c2;
    box-shadow: 0 0 7px black inset;
    transition-duration: 0.1s;
}

.h1 h1 {
    background-color: rgb(229, 196, 137);
    color: rgb(255, 255, 255);
    width: 45vw;
    margin: 2em 0 -5px 8px;
    padding: 10px;
    border-radius: 8px 8px 0 0 ;
}

.box {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    background-image: linear-gradient(to top, #51796f,#89d3c2);
    margin: 0 0 0 8px;

    height: 18em;

    text-align: center;
    border-radius: 0 0 0 8px;
    box-shadow: black 0 0 5px inset;
}

.item {
    min-width:40vw;
    height: 243px;
    margin: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.686);
    border-radius: 13px;
}
.item:hover {
    min-width:42vw;
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.686);
    transition-duration: 0.3s;
}
.imagem {
    background-color: rgb(229, 196, 137);
    height: 150px;
    border-radius: 10px 10px 0 0;
}
.imagem img {
    margin-top: 4px;
    width: 95%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.info p {
    font-weight: bold;
    padding: 2PX;
    margin: 0;
}
.info{
    background-color:  #e5c489;
    display: block;
    text-align: left;

    color: white;
    padding: 5px;
    height: 83px;

    border-radius: 0 0 13px 13px;
}